body{
    background-color: aquamarine;
}
.container{
text-align: center;
width: 70%;
margin: auto;
}
.dice{
    text-align: center;
    display: inline-block;
    margin-left: 18%;
    
}
h1{
    font-family: 'Lobster', cursive;
    font-size: 6rem;
    text-shadow: 5px black;
    color: brown;
}
p {
    font-size: 2rem;
    color: black;
    font-family: 'Indie Flower', cursive;
    
  }
  img{
    width: 80%;
  }
  footer{
    font-family: 'Lobster', cursive;
    text-align: center;
    height: 10%;
  }